doctype html
html(lang="en")
    head
        title=Shortbread

    body
        div.container
            div.row
                h1 Shortbread
                p Your shortened URL is <a href='http://localhost:5000/#{id}'>http://localhost:5000/#{id}</a>
