doctype html
html(lang="en")
    head
        title=Shortbread

    body
        div.container
            div.row
                h1 Shortbread
                p "Your shortened URL is http://localhost:5000/" + id
